# Dependencies
/deps/

# Build artifacts
/_build/

# Releases
*.ez

# Local configuration
/config/*.secret.exs

# Log files
/logs/

# Erlang crash dumps
erl_crash.dump

# Dialyzer PLT files
*.plt
*.plt.hash

# IDE / Editor specific
/.idea/
/.vscode/
